/* You can add global styles to this file, and also import other style files */
$pink: #ef0047;
$dark-blue: #0f111b;
$white: #fbfbfb;

$dark-pink: #3b0e21;
$grey-50: #afafaf;

body {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rozha One', serif;
  font-weight: normal;
}
